.cart__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__items{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}


.cart__items > * {
    max-width: 30em;
    padding: 1em;
    border: 5px dotted black;    
}

.cartBtn {
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
        margin-top: 1em;

    
    
}


.btns_container button{
    display: block;
    margin-bottom: 2em;
    height: 2em;
}