h1 {
    font-size: 4em;
    margin: 1em auto;
    text-align: center;
}

body {
    background: rgb(63, 191, 230);
}

.goToCart {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: flex;
    margin-left: 50px;

}